<form method="POST" action="/receipts">
    <div>
        <label>Amount</label>
        <input type="text" name="amount">
    </div>
    <div>
        <label>Restaurant</label>
        <select name="restaurant_id" >
            <option value="1">Chick-Fil-A</option>
            <option value="2">Shake Shack</option>
        </select>
    </div>
     <div>
        <label>Customer</label>
        <select name="customer_id" >
            <% Customer.all.each do | customer | %>
                <option value="<%= customer.id %>">
                    <%= customer.name%>
                </option>
            <% end %>
        </select>
    </div>
    <input type="submit">
</form>