<form method="post" action="/artists">
	<label>Artist Name</label>
	<input name="artist[name]" type="text" />
    <%# <label>Songs</label>
    <input name="artist[songs][]" type="text" />
    <input name="artist[songs][]" type="text" />
    <input name="artist[songs][]" type="text" /> %>
    <input type="submit" />
</form>

 