<style>

    body {
    }

    .page-title {
        font-family: 'Indie Flower', cursive;

        background-color: rgba(0,0,0,0.5);
        text-align: center;
        text-shadow: 1px 1px 2px white;
    }
</style>
<link href="https://fonts.googleapis.com/css?family=Indie+Flower&display=swap" rel="stylesheet">
<div>
    <h1 class="page-title"><%= @artist.name %></h1>
    <p>Bio...</p>
    <a href="http://google.com">Albums</a>
</div>